{%extends "bootstrap/base.html"%}



{#DIY_css+js#}
{%block head %}
{{ super() }}
    <style>
        * {
            margin: 0px;
            padding: 0px;
            background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%) no-repeat;
        }
        {#页脚css#}
        .foot-font{
        font-size: 40px;
        text-align: center;
        }

        {#flash消息css#}
        .hint{
            width: auto;
            background: red;
            color:white;
            margin-bottom: 20px;
        }

        {#login/register的css#}

        .login-box{
            margin-top: 80px;
            width: 100%;
            height: auto;
            text-align:center;
            margin-bottom: 100px;
        }
        .getin{
            margin-top: 10px;
            width: 200px;
            height: 30px;
        }
        .button{
            margin-top: 20px;
            width: 100px;
            height: 30px;

        }
    </style>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        setTimeout(function () {
            $("#hint_box").hide();
        }, 3000);
    </script>
{% endblock %}



{#界面标题#}
{%block title %}

{% endblock %}



{#界面导航条#}
{%block navbar %}
<nav class="navbar navbar-default">
{# 适应手机端 #}
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Forij的博客</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    {# nav主要内容 #}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">首页</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类<span class="caret"></span></a>
          <ul class="dropdown-menu" style="">
            <li><a target="_blank" href="#">学习笔记</a></li>
              <li role="separator" class="divider"></li>
            <li><a target="_blank" href="#">生活记事</a></li>
              <li role="separator" class="divider"></li>
            <li><a target="_blank" href="#">未知领域</a></li>
              <li role="separator" class="divider"></li>
            <li><a target="_blank" href="#">奇思妙想</a></li>
              <li role="separator" class="divider"></li>
            <li><a target="_blank" href="{{ url_for('main.test_case') }}">其他杂项</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="想知道什么?">
        </div>
          <button type="submit" class="btn btn-default">搜一搜</button>
      </form>
    <ul class="nav navbar-nav">

      </ul>
    {% if current_user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a target="_blank" href="{{ url_for('blog.create_post') }}">写文章</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}的个人空间<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="{{url_for('admin.user_space')}}">空间</a></li>
            <li><a target="_blank" href="#">关注列表</a></li>
            <li><a target="_blank" href="#">动态</a></li>
            <li role="separator" class="divider"></li>{# 分界线 #}
            <li><a target="_blank" href="#">消息</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
          </ul>
        </li>
      </ul>
    {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">登录/注册<span class="caret"></span></a>
          <ul class="dropdown-menu">
                <li> <a href="{{url_for('auth.login')}}">登录</a></li>
                <li><a href="{{url_for('auth.register')}}">注册</a></li>
          </ul>
        </li>
      </ul>
    {% endif %}

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}



{% block content %}

{% endblock %}
