{% extends 'base.html' %}

{% block title %}
博客主页
{% endblock %}

{% block content %}
    {#欢迎信息提示#}
    {% for message in get_flashed_messages() %}
    <div class="hint" id="hint_box">{{ message }}</div>
    {% endfor %}

<div class="container">
{% for a in articles %}
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-bottom: 0px;padding-top: 0px">
            <label data-toggle="collapse" data-target="#demo">
                <h3>{{ a.title }}</h3>
                <small >时间：{{ a.create_time }}</small>
                {# 根据文章找作者  a.user.username  #}
                <small ><a href="{{ url_for('admin_1.user_space',id=current_user.id) }}">作者：{{ a.user.username }}</a></small>
                <small >分类：{{ a.categories }}</small>
            </label>
        </div>

        <div id="demo"+loop.index class="collapse in">
            {{ a.body_html|safe|markdown }}
        </div>
    </div>
{% endfor %}

</div>


{% endblock %}