{% extends 'base.html' %}

{% block head %}
{{ super() }}
    <script>
    $(function(){
        $("#code").click(function(){
            $.get("http://127.0.0.1:5000/getcode",function (data) {
                $("p").text(data["code"])
        })
      });
    });

    </script>
{% endblock %}

{% block title %}
登录Login
{% endblock %}

{% block content %}
    {# 错误信息提示 #}
    {% for message in get_flashed_messages() %}
    <div class="hint" id="hint_box">{{ message }}</div>
    {% endfor %}
<div class="login-box">
    <form method="POST" novalidate><!-- novalidate 属性规定当提交表单时不对其进行验证。 -->
        {{ form.hidden_tag() }}
        <!-- 生成一个隐藏字段，其中包括用来防止CSRF攻击的令牌 -->
        <label id="code">点击本段文字获取验证码</label>
        <p></p>
        <br>
        {{form.username(class="getin",placeholder="用户名",autofocus="")}}<br>
        {{form.password(class="getin",placeholder="密码")}}<br>
        {{form.proofcode(class="getin",placeholder="验证码")}}<br>
        {{form.submit(class="button")}}<a href="{{ url_for('admin.chg_psd') }}" style="margin-left: 30px" >找回密码</a>
    </form>
</div>

{% endblock %}

