{% extends 'base.html' %}

{% block title %}
测试bootstrap页面
{% endblock %}

{% block content %}

    <div class="container">
        这是带距离的容器 <span class="lead">你信吗</span>

    {#引用+描述(带有描述的短语列表。)#}
    <blockquote>
        <dl>
            <dt>个性签名</dt>
            <dd>没有，别看了</dd>
        </dl>
    </blockquote>


{#  水平描述(可用于展示个人信息)  #}
    <dl class="dl-horizontal">
      <dt>邮箱地址</dt>
      <dd>2292218440@qq.com</dd>
        <br>
      <dt>爱好</dt>
      <dd>睡觉</dd>
    </dl>
{#  代码块?  #}
<pre>
#include"iostream"
using namespace std;
int main()
{
    int n,a[10];
    cin>>n;

    return 0;
}
</pre>
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
      </div>
    </div>
    </div>


    <div class="container-fluid">
        这是100%的容器
    </div>
{% endblock %}