{% extends 'base.html' %}



{% block title %}
个人空间
{% endblock %}

{% block head %}
{{ super() }}
    <script>
    $(function(){
        $("#nav_info").click(function(){
            $.get("http://127.0.0.1:5000/getinfo",{request_type:"info",request_user:{{ current_user.username }}},function (data) {
                $("#receipt1").text(data["send_username"])
                $("#receipt2").text(data["send_sex"])
                $("#receipt3").text(data["send_phonenum"])
                $("#receipt4").text(data["send_emial"])
                $("#receipt5").text(data["send_labels"])

            })
        });
    });
    </script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="jumbotron">
        <a href="{{ url_for('admin.upload') }}">
            <img id="profile" src="data:image/jpeg;base64,{{ current_user.user_img }}" alt="暂无头像(点击上传头像)" title="点击上传自定义头像" style="width: 147px;height: 147px" class="img-rounded">
        </a>
        <h1 style="display: inline;margin-left: 20px;",>{{ current_user.username }}</h1>
       <h3><span class="label label-default">个性签名</span></h3>

        <ul id="myTab" class="nav nav-tabs">
            <li class="active" id="nav_folowing"><a href="#folowing" data-toggle="tab">我的关注</a></li>
            <li id="nav_fans"><a href="#fans" data-toggle="tab">我的粉丝</a></li>
            <li id="nav_article"><a href="#article" data-toggle="tab">我的文章</a></li>
            <li id="nav_info"><a href="#info" data-toggle="tab">我的资料</a></li>
            <li id="nav_fovor"><a href="#fovor" data-toggle="tab">我的收藏</a></li>
            <li><a href="#" data-toggle="tab" style="background-color: greenyellow">修改个人信息</a></li>
            <li><a href="{{ url_for('admin.chg_psd') }}" data-toggle="tab" style="background-color: greenyellow">修改密码</a></li>
        </ul>
        {# display box #}
        <div class="panel panel-default">
          <div class="panel-body" id="show_box">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="folowing">
                    {# 关注列表 #}
                    <div class="list-group" id="folowing_list">
                      <a href="#" class="list-group-item">2</a>
                      <a href="#" class="list-group-item">4</a>
                      <a href="#" class="list-group-item">6</a>
                      <a href="#" class="list-group-item">9</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="fans">
                    {#粉丝列表 #}
                    <div class="list-group" id="fans_list">
                      <a href="#" class="list-group-item">1444</a>
                      <a href="#" class="list-group-item">42</a>
                      <a href="#" class="list-group-item">6</a>
                      <a href="#" class="list-group-item">9</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="article">
                    {# 文章列表 #}
                    <div class="list-group">
                      <a href="#" class="list-group-item">2</a>
                      <a href="#" class="list-group-item">4</a>
                      <a href="#" class="list-group-item">644</a>
                      <a href="#" class="list-group-item">9</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="info">
                    {# 我的资料 #}
                      <dl class ="dl-horizontal">
                          <dt>用户名</dt>
                          <dd id="receipt1"></dd> <br>

                          <dt>性别</dt>
                          <dd id="receipt2"></dd> <br>

                          <dt>手机号</dt>
                          <dd id="receipt3"></dd> <br>

                          <dt>邮箱地址</dt>
                          <dd id="receipt4"></dd> <br>

                          <dt>标签</dt>
                          <dd id="receipt5"></dd> <br>
                      </dl>
                </div>
                <div class="tab-pane fade" id="fovor">
                    {# 我的收藏 #}
                    <div class="list-group">
                      <a href="#" class="list-group-item">21</a>
                      <a href="#" class="list-group-item">44</a>
                      <a href="#" class="list-group-item">63</a>
                      <a href="#" class="list-group-item">91</a>
                    </div>
                </div>
            </div>
          </div>
        </div>


    </div>
</div>

{% endblock %}
